@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #0d59f2;
  --color-background-light: #f5f6f8;
  --color-background-dark: #101622;
  --font-display: "Space Grotesk", sans-serif;
  --radius-DEFAULT: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;
  --radius-full: 9999px;
}

@layer base {
  body {
    font-family: 'Space Grotesk', sans-serif;
  }

  button,
  [role="button"],
  input[type="submit"],
  input[type="button"],
  select,
  a {
    cursor: pointer !important;
  }
}

@layer utilities {
  .carbon-pattern {
    background-color: #101622;
    background-image: radial-gradient(#1e293b 0.5px, transparent 0.5px);
    background-size: 10px 10px;
  }
}